/*
 * Copyright (c) 2024, STMICROELECTRONICS
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/*
		 * shared memory reserved for the inter-processor communication
		 */
		zephyr,ipc = &mailbox;
	};


	sram_ipc0: memory@10041000 {
			#memory-region-cells = <0>;
			reg = <0x10041000 0x8000>;
		};

   	ipc {
		#address-cells = <1>;
		#size-cells = <1>;
		ipc0: ipc@10040000  {
			reg = <0x10040000  0x100>;
			compatible = "zephyr,ipc-openamp-virtio-msg";
			memory-region = <&sram_ipc0>;
			status = "okay";

			#address-cells = <1>;
			#size-cells = <0>;
			i2c_virtio_dev0: i2c_virtio_dev@0 {
				compatible = "zephyr,virtio-i2c-dev";
				reg = <0x0>;
                		device-id = <34>;
			};
		};
	};
};

&mcusram {
	reg = <0x10000000 DT_SIZE_K(256)>;
};